<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recording the inspiration</title>
</head>
<body>
<div th:insert="~{fragments/common::userPanel}"/>
<br/>
<br/>
<center>
    <a href="/" style="text-decoration: none; margin-right: 10px;"><- back</a>
    <h1>Recording the inspiration</h1>
    <form method="POST" th:object="${recipe}">
        <p>Header</p>
        <p>
            <input type="text" th:field="*{header}">
        </p>
        <span th:if="${#fields.hasErrors('header')}"
              th:errors="*{header}">Header validation error.</span>
        <p>Description</p>
        <p>
            <textarea cols="40" rows="7" th:field="*{description}"></textarea>
        </p>
        <span th:if="${#fields.hasErrors('description')}"
              th:errors="*{description}">Description validation error.</span>
        <p><input type="submit" value="Record"></p>
    </form>
</center>
</body>
</html>