<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Simple page</title>
</head>
<body>
<center>
    <h1>This is the simple page</h1>
</center>
<center>
    <div>
| _______________ |<br/>
| |XXXXXXXXXXXXX| |<br/>
| |XXXXXXXXXXXXX| |<br/>
| |XXXXXXXXXXXXX| |<br/>
| |XXXXXXXXXXXXX| |<br/>
| |XXXXXXXXXXXXX| |<br/>
|_________________|<br/>
_[_______]_<br/>
___[___________]___<br/>
|         [_____] []|__<br/>
|         [_____] []|  \__<br/>
L___________________J     \ \___\/<br/>
___________________      /\<br/>
/###################\    (__)<br/>
    </div>
</center>
</body>
</html>